.vscode/
.github/
build
*.biprivatekey
*.log
*.pbo
*.pbo.bak
*.bat
AntistasiBuilder.cfg

#Ignore mission files that have been copied to A3-Antistasi
A3-Antistasi/description.ext
A3-Antistasi/mission.sqm
A3-Antistasi/roadsDB*.sqf
A3-Antistasi/PIC.jpg
A3-Antistasi/ak.jpg
A3-Antistasi/Navigation/
A3-Antistasi/Pictures/Mission/

#Ignore packaged missions
PreparedMissions/

#Ignore test templates
Map-Templates/Antistasi-TEST-**
Vanilla/Variant_AI_MCD.txt
Vanilla/Vanilla_AI_AAF2.sqf
Vanilla/Vanilla_AI_AAF.sqf
Tools/StreetArtist/Street Artist Editor.md
Tools/StreetArtist/Please Read Me.md
Tools/StreetArtist/NG_importGUI.hpp
Tools/StreetArtist/LICENSE.txt
Tools/StreetArtist/init.sqf
Tools/StreetArtist/functions/Utility/fn_systemTime_format_G.sqf
Tools/StreetArtist/functions/Utility/fn_log.sqf
Tools/StreetArtist/functions/Utility/fn_init.sqf
Tools/StreetArtist/functions/UI/fn_shader_ratioToHex.sqf
Tools/StreetArtist/functions/UI/fn_customHintRender.sqf
Tools/StreetArtist/functions/UI/fn_customHintInit.sqf
Tools/StreetArtist/functions/UI/fn_customHintDrop.sqf
Tools/StreetArtist/functions/UI/fn_customHint.sqf
Tools/StreetArtist/functions/StreetArtist/UIInfo.txt
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_toggleConnection.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_shouldAddMiddleNode.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_refreshMarkerOrder.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_posRegionHM_pixelRadius.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_posRegionHM_generate.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_posRegionHM_allAdjacent.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_pos_rem.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_pos_add.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_onUIUpdate.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_onMouseClick.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_onKeyDown.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_node_disconnect.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_navGridHM_refresh_islandID.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_mainDialog.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_main.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_insertMiddleNode.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_import.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_hover_modeConnect.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_hover_modeBrush.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_getSurfaceATL.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_EH_add.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_correctPositions.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_click_modeConnect.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_click_modeBrush.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_canAddPos.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_action_save.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_action_refresh.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_action_changeTool.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_action_changeColours.sqf
Tools/StreetArtist/functions/StreetArtist/fn_NGSA_action_autoRefresh.sqf
Tools/StreetArtist/functions/NavGridGen/specification tolerances.md
Tools/StreetArtist/functions/NavGridGen/getStats.sqf
Tools/StreetArtist/functions/NavGridGen/formats.md
Tools/StreetArtist/functions/NavGridGen/fn_NG_simplify_junc.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_simplify_flat.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_simplify_conDupe.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_main.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_init.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_format_navGridDB.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_fix_oneWays.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_fix_deadEnds.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_convert_navRoadHM_navGridHM.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_convert_navGridHM_navGridDB.sqf
Tools/StreetArtist/functions/NavGridGen/fn_NG_convert_navGridDB_navGridHM.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_text.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_main.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_linesBetweenRoads.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_line.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_islands.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_dotOnRoads.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_dot.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_deleteAll.sqf
Tools/StreetArtist/functions/NavGridDraw/fn_NG_draw_connection.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoadHM_remove.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoadHM_assert.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoad_isConnected.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoad_getPeers.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoad_disconnect.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoad_connect.sqf
Tools/StreetArtist/functions/Model/fn_NG_navRoad_assert.sqf
Tools/StreetArtist/functions.hpp
Tools/StreetArtist/description.ext
Tools/StreetArtist/Collections/Serialisation/Primitives/fn_serialise_namespace.sqf
Tools/StreetArtist/Collections/NestLoc/fn_nestLoc_set.sqf
Tools/StreetArtist/Collections/NestLoc/fn_nestLoc_rem.sqf
Tools/StreetArtist/Collections/NestLoc/fn_nestLoc_get.sqf
Tools/StreetArtist/Collections/NestLoc/doc_benchmarksGetSetRem.sqf
Tools/StreetArtist/Collections/Location/fn_location_serialiseAddress.sqf
Tools/StreetArtist/Collections/Location/fn_location_new.sqf
Tools/StreetArtist/Collections/Location/fn_location_init.sqf
Tools/StreetArtist/Collections/ID/ID_defines.hpp
Tools/StreetArtist/Collections/ID/fn_ID_LArray_isEqualTo.sqf
Tools/StreetArtist/Collections/ID/fn_ID_LArray.sqf
Tools/StreetArtist/Collections/ID/fn_ID_init.sqf
Tools/StreetArtist/Collections/Array/fn_array_toChunks.sqf
Tools/StreetArtist/Collections/Array/fn_array_remIndices.sqf
Tools/StreetArtist/Collections/Array/fn_array_displace.sqf
Tools/StreetArtist/Collections/Array/fn_array_deleteAts.sqf
Tools/DSSignFile/readme.txt
Tools/DSSignFile/NativeMethods.dll
Tools/DSSignFile/log4net.dll
Tools/DSSignFile/licenseMgr.dll
Tools/DSSignFile/LibCommon.dll
Tools/DSSignFile/DSSignFile.exe
Tools/DSSignFile/DSCreateKey.exe
Tools/DSSignFile/DSCheckSignatures.exe
Tools/Builder/hemtt.exe
Tools/Builder/firstTimeSetup.ps1
Tools/Builder/buildAddons.ps1
Build.ps1
